$color-primary: #55c57a;
$color-primary-light: rgb(175, 236, 164);
$color-primary-dark: rgb(88, 163, 138);

$color-white: rgb(255, 255, 255);
$color-grey: rgb(119, 119, 119);
$color-black: rgb(0, 0, 0);