.section-about {
  background-color: $color-primary-light-1;
  padding: 23rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  margin-top: -8.4rem;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}
